[submodule "vendor/simdjson"]
	path = vendor/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
